@using Shared.Blazor
@using Microsoft.AspNetCore.Components.Authorization
@inject ILogoutService LogoutService

<AuthorizeView Context="authenticationState">

    <MudNavGroup Icon="@Icons.Material.Sharp.Person" Style="width:100%" Title="Профиль">
        @{
            var user = (Contracts.User)authenticationState.User;
        }
        <MudButton Href="@($"/user/{user.Id}")" FullWidth="true">
            <p style="width:100%;align-items: start">@user.UserName</p>
        </MudButton>
        <MudButton Color="Color.Error" OnClick="@Logout" StartIcon="@Icons.Material.Filled.Logout" FullWidth="true">
            Выйти
        </MudButton>
    </MudNavGroup>
</AuthorizeView>

@code {

    private Task Logout()
    {
        return LogoutService.Logout();
    }

}