@using Authorization.UI.Pages
@using Microsoft.AspNetCore.Components.Authorization
@using BlazorConsolidated.Components
@using BlazorConsolidated.Layouts
@using Budgets.UI.BudgetsList
@using global::Reports.UI
@inject NavigationManager NavigationManager
<CascadingAuthenticationState @rendermode="AssignedRenderMode">
    <AppErrorBoundary>
        @* <ChildContent> *@
        <Router AppAssembly="@typeof(MainLayout).Assembly"
                AdditionalAssemblies="new []
                { 
                    typeof(Login).Assembly, 
                    typeof(global::Receipts.UI.Receipts).Assembly, 
                    typeof(MonthReport).Assembly,
                    typeof(BudgetsPage).Assembly
                    }"
        >
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <Authorizing>
                        Проверка авторизации
                    </Authorizing>
                    <NotAuthorized Context="AuthenticationState">
                        <RedirectToLoginComponent
                            ReturnUrl="@NavigationManager.GetCurrentPath()"></RedirectToLoginComponent>
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
        @* </ChildContent> *@
    </AppErrorBoundary>
</CascadingAuthenticationState>